.App {
  background-color:#383F51;
  color:#B7CE63;
  width: 100%;
  overflow-y: hidden;
}

Button {
    background-color: #8FB339;
    color: #383F51;
}
.Textentry {
  color: #B7CE63;
}

.cardBody{
  color: #383F51;
}

.searchInput{
  padding: 20px;
}
.headerbar{
  background-color:#8FB339;
  color: #383F51;
  margin: 0px;
  padding: 0px;
}